/*CSS BY Jennifer Robertson*/
/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*ROOT VARIABLES*/
:root{
--midnight-blue: #1F2A44;
--olive-green: #76885B;
--champagne-gold: #E5C185;
--linen: #F8F4EC;
--dark-charcoal: #2B2B2B;
--soft-white: #FAF9F6;

--font-main:"Playfair Display", serif;
}
/*GLOBAL STYLES(mobile first/small)*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-main);
    background-color: var(--linen);
    color:var(--dark-charcoal);
    line-height:1.5;
}
header{
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 1.5rem 1rem 0;
}
header img{
    width: 110px;
    margin:0 auto 1rem;
}
h1{
    color:var(--soft-white);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
header > p{
    color:var(--soft-white);
    font-style:italic;
    font-size: 1rem;
    margin-bottom: 1.25;
}
nav{
    background-color: var(--champagne-gold);
    margin: 0 -1rem;
    padding: 0.85rem 0;
}
nav h2,
footer h2{
    position: absolute;
    left: -9999px;
}
nav a{
    color: var(--midnight-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    display: inline-block;
    width: 32%;
    text-align: center;
}
main{
    width:100%;
    padding: 0 0.25rem 1.5rem;
}
section{
    margin-bottom: 1.5rem;
    padding:0 0.25rem 1.5rem;
}
#about,
#offerings,
#gallery{
    border-bottom: 2px solid var(--champagne-gold);
}

section h2{
    color:var(--midnight-blue);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
#about p,
#gallery > p{
    font-size:0.95rem;
    margin-bottom: 1rem;
}

#offerings{
    display:grid;
    gap:1rem;
}

.offer-card{
    background-color:var(--olive-green);
    color:var(--soft-white);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding:1rem;
}
.offer-card h3{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.offer-card p{
    margin-bottom: 0.5rem;
}
.offer-card ul{
    margin-left: 1.25rem;
    margin-bottom: 0.5rem;
}
.offer-card li{
    margin-bottom: 0.2rem;
}
#gallery{
    display:grid;
    gap:1rem;
}
#gallery h2,
#gallery > p,
#gallery > a{
    grid-column:1/-1;
}
.gallery-item{
    background-color: var(--soft-white);
    border-radius: var(--radius);
    overflow:hidden;
    box-shadow: var(--shadow);
}
.gallery-item img{
    width: 100%;
}
.gallery-item p{
    font-style: italic;
    text-align: center;
    padding: 0.75rem;
    border-radius: 4px;
    margin-top: 0.25rem;
}
#gallery > a {
    display: block;
    background-color: var(--olive-green);
    color: var(--soft-white);
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.75rem;
    border-radius: 4px;
    margin-top: 0.25rem;
}
footer{
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 3rem 1rem;
}
footer p{
    color: var(--soft-white);
    margin-bottom: 0.35rem;
}
footer a{
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: 700;
}
footer p a {
    display: inline;
}
footer > a{
    display: inline-block;
    margin-top: 1.25rem;
}
footer > a:last-of-type{
margin-left: 0.4rem;
}
